* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,ul {
  list-style: none;
}


body {
  width:99vw;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

img {
  display: block;
}

.page-header{
  max-width:1440px;
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  margin:auto;
}

.header-container{
  max-width:1440px;
  height: 72px;
  display:flex;
  align-items:center;
  text-align:center;
  border-bottom: 1px solid #e7e9fc;
  margin:auto;
}

.container{
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}



main {
  margin:auto;
  max-width:1440px;
}


.navigation {
  display:flex;
  align-items:center;
  text-align:center;
  flex:2;
}

.navigation> a {
flex:3;
margin-right: 76px;
}

.navigation > ul {
display:flex;
flex:5;
}


.navigation-site-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.navigation-site-logo_studio {
  color: #2e2f42;
}

.navigation-pages-list{
  gap: 40px;
  display: flex;
}

.navigation-list-items {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  list-style-type: none;
}

.navigation-item-links {
  text-decoration: none;
  color: #2e2f42;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.navigation-item-links:hover {
  color: #404bbf;
}

.navigation-item-links:focus {
  color: #404bbf;
}

.nav-addresses {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  flex:1;
}
.address-list {
  display:flex;
  gap:40px;
}

.nav-address-listItems {
  list-style-type: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-address-a {
  text-decoration: none;
  color: #434455;
}

.nav-address-a:hover {
  color: #404bbf;
}

.nav-address-a:focus {
  color: #404bbf;
}


/* Section 1 - hero section */


.hero-section {
  background-color: #2e2f42;
  color: #ffffff;
  width:1440px;
  height:600px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 188px 0;
}

.page-header-one { 
  margin: 0 auto;
  max-width: 496px;
  height: 120px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.order-service-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  display: block;
  margin:0 auto;
  margin-top:35px;
  border-radius: 4px;
}

.order-service-button:focus {
  background-color: #404bbf;
}

.order-service-button:hover {
  background-color: #404bbf;
}


/* Section 2 - features section */

.features-section{
  width:1440px;
  height: 200px;
  padding: 120px 0;
}


.feature-lists{
  width:1128px;
  height: 104px;
  display:flex;
  gap: 24px;
  text-align:center;
  align-items:center;
  margin:auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.feature-list-items {
  width: calc((100% - 72px) / 4);
  list-style-type: none;
  flex:1;
  
}

.feature-titles {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.feature-texts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}



/* Section 3 - Our team section */

.our-team-section {
  background-color: #f4f4fd;
  width: 1440px;
  padding: 120px 0;
}

.our-team-list {
  display:flex;
  align-items:center;
  justify-content:center;
  gap: 24px;
  
}
.ourteam-list-items {
  width: calc((100% - 72px) / 4);
  list-style-type: none;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.our-team-item-name-and-position {
  padding: 32px 0;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.associate-names {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.associate-positions {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}





/* Section 4 - Our Portfolio section */



.portfolio-section {
  width:1128px;
  margin:auto;
  padding: 120px 0;
}

.porfolio-list {
  display:flex;
  flex-wrap:wrap;
  width:100%;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-title {
  font-weight: 700;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px
}

.porfolio-solutions {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.porfolio-list-items {
  list-style-type: none;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.portfolio-name-and-genre {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}


.porfolio-solution-genres {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}




/* Footer  */

.page-footer {
  background-color: #2e2f42;
  height: 312px;
  top: 2988px;
  padding: 100px 0;
}

.footer-container{
  height: 122px;
  top: 3088px;
  left: 156px;
}

.footer-site-logoo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-site-logo_studio {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
  text-decoration: none;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}
